<div class="container">
  <h2>Lista de lugares</h2>
  <p>Lista de lugares registrados en firebase</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>Plan</th>
        <th>Descripcion</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let lugar of lugares">
          <td>{{ lugar.id}}</td>
          <td>{{ lugar.nombre}}</td>
          <td>{{ lugar.plan}}</td>
          <td>{{ lugar.descripcion}}</td>
          <td><button class="btn btn-primary">EDITAR</button></td>
          <td><button class="btn btn-danger">ELIMINAR</button></td>
        </tr>
        
    </tbody>
  </table>
</div>