<h1>Directivas ngSwitch</h1>
<ul>
  <ng-container *ngFor="let lc of lugaresCercania" [ngSwitch]="lc.distancia">
    <li [resaltar]="lc.plan">{{ lc.name }}</li>
    <span *ngSwitchCase="1"  [ngStyle]="{color: 'red'}">Cercano</span>
    <span *ngSwitchCase="2"  [ngStyle]="{color: 'orange'}">Medio cerca</span>
    <span *ngSwitchCase="3"  [ngStyle]="{color: 'green'}">Lejano</span>
  </ng-container >   
</ul>

<hr>
<h1>Mi directiva</h1>
<ul class="list-group">
  <ng-container *ngFor="let n of negocios">
    <li [resaltar]="n.plan" class="list-group-item">{{ n.name }}</li>
  </ng-container >   
</ul>

<hr>
<h1>Mi directiva con HostListener</h1>
<ul class="list-group">
  <ng-container *ngFor="let n of negocios">
    <li class="list-group-item" [resaltar]="n.plan" contar-clicks>{{ n.name }}</li>
  </ng-container >   
</ul>
