<hr>
<h1>Ejemplo de String interpolation {{ cadena }}</h1>
<hr>
<h2>Ejemplo de Binding con un button</h2>
<button [disabled]="habilitar">click me</button>
<hr>
<h3>Ejemplo de event Binding. Clic para ver</h3>
<button (click)="eventoClic()">click me</button>

<hr>
<h4>Ejemplo two way data binding</h4>
<input [(ngModel)]="texto"/>
<label> muestro lo que escribes {{ texto }}</label>

<hr>
<h1>Directivas en Angular 4 y ngFor</h1>
<ul>
  <li *ngFor="let lugar of lugares">{{ lugar.name}}</li>
</ul>

<hr>
<h1>Directivas en Angular 4 y ngif</h1>
<ul>
  <ng-container *ngFor="let persona of personas">
    <li *ngIf="persona.edad > 18" >{{ persona.nombre}}</li>
  </ng-container >   
</ul>


<hr>
<h1>Directivas ngStyle y ngClass</h1>
<ul>
  <ng-container *ngFor="let persona of personas">
    <li [ngStyle]="{color: (persona.edad > 18)? 'green' : 'red'}"><a routerLink="/especifico/{{persona.id}}"  [queryParams]="{action: 'view' , referer:'google'}">{{ persona.nombre}}</a></li>
  </ng-container >   
</ul>

<a class="btn btn-primary" routerLink="/crear/new">AGREGAR NEGOCIO</a>